<div>
    <h3><%= @profile.about_me %> </h3>
    <p><%= @profile.motivations %> </p>
    <p><%= @profile.interests %> </p>
    <p><%= @profile.background %> </p>
</div>

<p><%= link_to "Edit Profile", edit_users_profile_path %>
<p><%= link_to "Home", index_path %></p>