<section class="profile-card"> 
    <section class="profile-div">
        <div class="avatar">
        <% if @profile.avatar.present? %>
            <%= image_tag url_for(@profile.avatar), class: "avatar" %> 
        <% end %>
        <h1 class="profile-title"> <%= @profile.user.first_name + ' ' + @profile.user.last_name + ' - ' + @profile.user.type %> </h3>
        <% if current_user.profile == Profile.find(params[:id]) %>
            <%= link_to "Edit Profile", edit_users_profile_path, class: "profile-options" %>
        <% end %> 
        </div>
        <div class="text-div">
            <h1 class="prof"><strong>About Me</strong></h1>
            <p class="profile-text">
                <%= @profile.about_me %>
            </p>
            <h1 class="prof"><strong>Motivations</strong></h1>
            <p class="profile-text">
                <%= @profile.motivations %>
            </p>
            <h1 class="prof"><strong>Interests</strong></h1>
            <p class="profile-text">
                <%= @profile.interests %> 
            </p>
            <h1 class="prof"><strong>Background</strong></h1>
            <p class="profile-text">
                <%= @profile.background %> 
            </p>
        </div>
    </section>
</section>