<section class="profile-div">
    <div class="avatar">
    <% if @profile.avatar.present? %>
        <%= image_tag url_for(@profile.avatar), class: "avatar" %> 
    <% end %>
    <h1 class="profile-title"> <%= @profile.user.first_name + ' ' + @profile.user.last_name + ' - ' + @profile.user.type %> </h3>
    <% if current_user.profile == Profile.find(params[:id]) %>
        <%= link_to "Edit Profile", edit_users_profile_path, class: "profile-options" %>
    <% end %> 
    </div>
    <div class="text-div">
        <p class="profile-text">
            <strong>About Me</strong> - <%= @profile.about_me %>
        </p>
        <p class="profile-text">
            <strong>Motivations</strong> - <%= @profile.motivations %>
        </p>
        <p class="profile-text">
            <strong>Interests</strong> - <%= @profile.interests %> 
        </p>
        <p class="profile-text">
            <strong>Background</strong> - <%= @profile.background %> 
        </p>
    </div>
</section>
<p class="profile-options">
