<div>
    <h1> <%= @profile.user.first_name + ' ' + @profile.user.last_name %> </h3>
    <% if @profile.avatar.present? %>
        <%= image_tag url_for(@profile.avatar), class: "avatar" %> 
    <% end %>
    <h3><%= @profile.about_me %> </h3>
    <p><%= @profile.motivations %> </p>
    <p><%= @profile.interests %> </p>
    <p><%= @profile.background %> </p>
</div>
<% if current_user.profile == Profile.find(params[:id]) %>
    <p><%= link_to "Edit Profile", edit_users_profile_path %>
<% end %>
<p><%= link_to "Home", index_path %></p>