<section class="project-form">
  <div class="project-form">
    <h1>Edit your project</h1>

    <%= form_with model: @project do |form| %>
        <div class="project-form">
          <%= form.label :project_name %><br>
          <%= form.text_field :project_name%>
          <% @project.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      
        <div class="project-form">
          <%= form.label :project_description %><br>
          <%= form.text_area :project_description %><br>
          <% @project.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div class="project-form">
            <%= form.label :start_date %><br>
            <%= form.date_field :start_date %>
            <% @project.errors.full_messages_for(:current_date).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>  
      
        <div class="project-form">
            <%= form.label :end_date, class: "project-form" %><br>
            <%= form.date_field :end_date %>
            <% @project.errors.full_messages_for(:current_date).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>  
        <div class="project-form">
          <%= form.submit class: "edit-submit" %>
        </div>
      <% end %>
  </div>
</section>