<div>
    <h3><%= @project.project_name %></h3>
    <p><%= @project.project_description %> </p>
    <p>Begins: <%= @project.start_date.strftime("%A %d %B %Y") %> </p>
    <p>Ends: <%= @project.end_date.strftime("%A %d %B %Y")%> </p>
</div>

<h2>Comments</h2>
<% @project.comments.each do |comment| %>
  <p>
    <strong>
        <%= current_user.first_name %>
        <%= current_user.last_name %> - 
        <%= current_user.type%>
    </strong>
  </p>
  <p>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @project, @project.comments.build ] do |form| %>

    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
</p>
<% end %>

<% if current_user.mentor? %>
    <%= link_to "Edit", edit_project_path %>
<% end %>

<% if current_user.mentor? %>
    <%= link_to "Delete", project_path(@project),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete this project?" } %>
<% end %>

<p><%= link_to "Home", index_path %></p>