<!DOCTYPE html>
<html>
  <head>
    <title>iMentor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
<body>
  <nav class="navbar">
  <h1 class="imentor">iMentor</h1>
  <h3>
    <%= link_to "PROJECTS", index_path %>
    <%= link_to "ABOUT", root_path %>
  </h3>
      <div class="name-profile">
      <% if user_signed_in? %>
            <% if current_user.profile.present? %>
              <h3>
                <%= link_to current_user.first_name + ' ' + current_user.last_name, users_profile_path(current_user.profile.id) %>
              </h3>
            <% else %>
              <%= link_to link_to current_user.first_name + ' ' + current_user.last_name, new_users_profile_path, :method => :get %>
      <% end %>
      <h3>
          <%= link_to 'Account', edit_user_registration_path, class: "login-link" %> 
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "login-link" %>
            </div>
      </h3>
      <% else %>
      <div class="signup-profile">
        <h3 class="sign-up-acct">
          <%= link_to "Sign up", new_user_registration_path, class: "login-link" %> 
          <%= link_to "Login", new_user_session_path, class: "login-link" %>
        </h3>
      </div>
      <% end %>
  </nav>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
  </body>
</html>
